.btn {
  border-radius: 0;
  outline: none;
  letter-spacing: 1px;

  &.btn-default {
      font-size: 1.2rem;
      font-weight: 600;
      padding-left: 0;
      padding-right: 0;
      text-transform: uppercase;
    &:after {
      content: "\f054";
      content: "\f105";
      font: normal normal normal 18px/1 FontAwesome;
      margin-left: 1rem;
    }
  }

  &.btn-primary {
    color: #5a161d;
    background-color: white;
    border: 2px solid #5a161d;
    text-transform: uppercase;
  }
  &.btn-secondary {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    text-transform: uppercase;
  }
}