//Fonts

//Montserrat
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-ExtraLight.otf);
  font-weight:100;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Light.otf);
  font-weight:300;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.otf);
  font-weight:400;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Medium.otf);
  font-weight:500;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Semibold.otf);
  font-weight:600;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Bold.otf);
  font-weight:700;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-ExtraBold.otf);
  font-weight:800;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Black.otf);
  font-weight:900;
}

/** ~~~~~~ Crimson ~~~~~~~*/

@font-face {
  font-family: CrimsonText;
  src: url(../fonts/CrimsonText-Roman.ttf);
  font-weight:400;
}
@font-face {
  font-family: CrimsonText;
  src: url(../fonts/CrimsonText-Italic.ttf);
  font-weight:400;
  font-style: italic;
}
@font-face {
  font-family: CrimsonText;
  src: url(../fonts/CrimsonText-Semibold.ttf);
  font-weight:600;
}
@font-face {
  font-family: CrimsonText;
  src: url(../fonts/CrimsonText-SemiboldItalic.ttf);
  font-weight:600;
  font-style: italic;
}
@font-face {
  font-family: CrimsonText;
  src: url(../fonts/CrimsonText-Bold.ttf);
  font-weight:700;
}
@font-face {
  font-family: CrimsonText;
  src: url(../fonts/CrimsonText-BoldItalic.ttf);
  font-weight:700;
  font-style: italic;
}

body {
    p {
      font-family: CrimsonText;
    }
}


/* Typography Classes */

.crimson-text { font-family: CrimsonText;}
.italic { font-style: italic}
.bold { font-weight: bold;}

.font-lg { font-size: 120px;}