// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;

/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

/**
 * Breakpoints
 */
$breakpoints: (
        'palm': 420px,
        'hand': 780px,
        'nav': 970px,
        'lap': 1024px,
        'desk': 2024px,
        'wall': 3024px
);



// Sizes
//   Headings managed in _headings.scss due to many breakpoint changes
$font-size-body: 22px;
$font-size-body-large: 32px;
$font-size-body-small: 18px;
$font-size-micro: 14px;
$line-height: (36/22);
/**
 * Colors
 */
$color-white:          #ffffff;
$color-black:          #000000;

$color-dark-green:     #325c34;
$color-green:          #537a53;
$color-light-green:    #068a3d;

$color-light-grey:     #b2b6b2;
$color-lighter-grey:   #f3f3f3;

$color-grey:           #797c79;

$color-dark-grey:      #3B3B3B;
$color-darker-grey:    #1E1E1E;

$color-link-green:     #068a3d;


// Tokens
$color-background: $color-white;
$color-text:       $color-darker-grey;

//Colors
$brand-clr: $color-light-green; // orange
$shadow-clr: $color-darker-grey; // slate
$neutral-clr: $color-grey; // gray

$body-text-clr: $color-dark-grey;


/**
 * Typography
 */
// Fonts
$font-heading: "Arial Black", Gadget, sans-serif;
$font-body: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$secondary-font: Arial, Helvetica, sans-serif;


/**
 * Transitions
 */
$transition-duration: .1s;
$transition-easing-function: ease;